/* Adapted from https://github.com/yzane/vscode-markdown-pdf/blob/master/styles/markdown-pdf.css */

/* Markdown PDF CSS */

pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow-x: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

pre:not(.hljs) {
  padding: 23px;
  line-height: 19px;
}

blockquote {
  background: rgb(127 127 127 / 10%);
  border-color: rgb(0 122 204 / 50%);
}

code {
  font-size: 14px;
  line-height: 19px;
}

/* For inline code */
:not(pre, .hljs) > code {
  /* Change the old color so it seems less like an error */
  color: #c9ae75;
  font-size: inherit;
}
