/* Adapted from HTML5 Boilerplate */

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@media print {
  @page {
    size: a4;
    margin: 0.5in;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    background: white;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  img {
    max-width: 100%;
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Use <div class="page" /> to insert page break */
  .page-break {
    page-break-after: always;
  }
}
